<template>
    <div class = "formField">
        <div class = "input" :class = "{'input--active': value}">
            <input class = "formControl" :value = "value" disabled/>
            <label class = "input__label">{{label}}</label>
        </div>
    </div>
</template>

<script>
export default {
    props: ['label', 'value']
}
</script>