<template>
    <header class = "header">
        <nav class = "header__nav">
            <div class = "header__tab">
                <img height = "20" src = "@/assets/icons/home.svg"/>
            </div>
            <div class = "header__tab header__tab--active">
                <span>Домашний интернет</span>
            </div>
            <div class = "header__tab">
                <span>Проект по телефонии</span>
            </div>
        </nav>
    </header>
</template>

<script>

export default {
    components: {
        
    }
}
</script>

<style>
    .header {
        width: 100%;
        height: 48px;
        background: #1D2533;
        color: #fff;
    }

    .header__nav {
        display: flex;
        height: 100%;
    }

    .header__tab {
        display: flex;
        align-items: center;
        padding: 18px;
        font-weight: 400;
        cursor: pointer;
        background: #272F3D;
    }

    .header__tab--active {
        background: #101828;
        font-weight: 500;
        cursor: auto;
    }
</style>