<template>
    <div class = "formField">
        <div class = "input" :class = "{'input--active': value || active}">
            <input class = "formControl" :value = "value" @input = "$emit('update:value', $event.target.value)" @focus = "focus" @blur = "unfocus" />
            <label class = "input__label">{{label}}</label>
        </div>
    </div>
</template>

<script>
export default {
    props: ['label', 'value'],
    computed() {
        console.log('cop', this.value);
    },
    data: () => ({
        active: false,
    }),
    emits: ['update:value'],
    methods: {
        focus() {
            console.log(this.value);
            this.active = true;
        },
        unfocus() {
            this.active = false;
        }
    }
}
</script>