<template>
    <label class="checkbox">
        <input type="checkbox">
        <span class = "checkbox__control"></span>
        <span class = "checkbox__label">{{label}}</span>
    </label>
</template>

<script>
export default {
    props: ['label']
}
</script>