<template>
    <div class = "componentBarGroup">
        <div class = "componentBarGroup__label">{{label}}</div>
        <div class = "componentBarGroup__list">
            <UIBaseComponent v-for = "(component, index) of items" :key = "index" :cmp = "component" :classes = "{'uiComponent--preview': true}" />
        </div>
    </div>
</template>

<script>

import UIBaseComponent from '@/components/UIComponents/UIBaseComponent';

export default {
    props: ['label', 'items'],
    components: {
        UIBaseComponent
    }
}
</script>

<style>
    .componentBarGroup + .componentBarGroup {
        margin-top: 25px;
    }

    .componentBarGroup__label {
        font-size: 1.125em;
        margin-bottom: 15px;
    }
</style>