<template>
    <div class = "componentBar">
        <div class = "componentBar__title">Компоненты</div>
        <ComponentBarGroup v-for = "(group, index) of groups" :key = "index" :label = "group.label" :items = "group.items" />
    </div>
</template>

<script>

import ComponentBarGroup from '@/components/Prototype/ComponentBar/ComponentBarGroup';

export default {
    data: () => ({
        groups: [
            {
                label: 'Элементы формы',
                items: [
                    {
                        node: 'input',
                        size: 3,
                        label: 'Фамилия',
                        value: '',
                    },
                    {
                        node: 'select',
                        size: 3,
                        label: 'Город',
                    },
                    {
                        node: 'textarea',
                        size: 3,
                        label: 'Комментарий',
                    },
                    {
                        node: 'checkbox',
                        size: 3,
                        label: 'Согласен',
                    }
                ]
            },
            {
                label: 'Кнопки',
                items: [
                    {
                        node: 'button',
                        size: 3,
                        color: 'primary',
                        label: 'Применить',
                    }
                ]
            },
        ]
    }),
    components: {
        ComponentBarGroup
    }
}
</script>

<style>
    .componentBar {
        width: 20%;
        min-width: 250px;
        max-width: 400px;
        background: #fff;
        padding: 20px;
        flex-shrink: 0;
    }

    .componentBar__title {
        font-size: 1.25em;
        margin-bottom: 1em;
    }
</style>