<template>
    <div class = "textarea" :class = "{'textarea--active': value}">
        <textarea class = "textarea__field" :value = "value" @input = "() => {return false;}" disabled />
        <label class = "textarea__label">{{label}}</label>
    </div>
</template>

<script>
export default {
    props: ['label', 'value']
}
</script>