<template>
    <div>
        <Input v-model:value = "form.label" label = "Подпись"/>
        <Input v-model:value = "form.value" label = "Значение"/>
        <Input v-model:value = "form.size" label = "Ширина в колонках"/>
    </div>
</template>

<script>

import Input from '@/components/Form/Input';

export default {
    props: ['component'],
    mounted() {
        this.form = Object.assign({}, this.defaultForm);
        for (let i in this.form) {
            if (this.component[i]) {
                this.form[i] = this.component[i];
            }
        }
    },
    data: () => ({
        defaultForm: {
            label: '',
            value: '',
            size: 3
        },
        form: {},
    }),
    methods: {
        updateComponent() {
            this.$emit('update', this.form);
        }
    },
    watch: {
        component(component) {
            this.form = Object.assign({}, this.defaultForm);
            for (let i in this.form) {
                if (component[i]) {
                    this.form[i] = component[i];
                }
            }
        },
        "form.label": 'updateComponent',
        "form.value": 'updateComponent',
        "form.size": 'updateComponent'
    }, 
    components: {
        Input
    }
}
</script>