<template>
    <button class = "btn">
        <span class="btn__text">{{label}}</span>
        </button>
</template>

<script>
export default {
    props: ['label', 'view', 'icon', 'iconPosition']
}
</script>