.btn {
    text-decoration: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    min-width: 140px;
    height: 56px;
    padding: 0px 40px;
    background-color: rgb(255, 79, 18);
    border-radius: 8px;
}

.btn__text {
    color: #fff;
}

.btn-secondary {
    background-color: transparent;
    text-decoration: none;
    border: 2px solid rgb(255, 79, 18);
    box-sizing: border-box;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    max-width: 100%;
    white-space: nowrap;
    min-width: 120px;
    height: 48px;
    padding: 0px 24px;
    border-radius: 8px;
}

.btn-secondary .btn__text {
    color: rgb(255, 79, 18);
}

.formField+.formField {
    margin-top: 20px;
}

.formField {
    display: inline-block;
    min-width: 280px;
    width: 100%;
}

.input {
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 0;
    z-index: 1;
}

.input__label {
    width: 100%;
    position: absolute;
    left: 0px;
    pointer-events: none;
    transition-property: background, transform, color;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transform: translate(0px, 12px);
    color: rgba(16, 24, 40, 0.7);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 12px;
}

.uiComponent--preview+.uiComponent--preview {
    margin-top: 20px;
}

.uiComponent--preview .input {
    position: static;
    width: 100%;
    height: 48px;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    caret-color: rgb(16, 24, 40);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f3f3f4;
    padding: 13px 12px 11px;
    border-radius: 8px;
}

.uiComponent--preview .input__label {
    position: static;
    transform: translate(-20px, -10px);
    padding-left: 0;
}

.uiComponent--preview .input input {
    display: none;
}

.input--active .input__label {
    font-size: 12px;
    line-height: 16px;
    transform: translate(0px, 4px);
    color: rgba(119, 0, 255);
}

.formField input.formControl {
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    caret-color: rgb(16, 24, 40);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f3f3f4;
    padding: 20px 12px 4px;
    border-radius: 8px;
    color: rgb(16, 24, 40);
}

.checkbox {
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    outline: none;
    min-height: 24px;
    padding-left: 32px;
    cursor: pointer;
}

.checkbox>input {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.checkbox__control {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 1px solid rgba(16, 24, 40, 0.25);
    border-radius: 3px;
}

.checkbox__label {
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
}

.uiComponent--preview .checkbox {
    position: static;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.uiComponent--preview .checkbox__control {
    position: static;
    margin-right: 12px;
}

.select {
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 0;
    z-index: 1;
}

.select input {
    caret-color: transparent;
}

.select__field {
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    caret-color: rgb(16, 24, 40);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f3f3f4;
    padding: 20px 32px 4px 12px;
    border-radius: 8px;
    color: rgb(16, 24, 40);
}

.select__label {
    width: 100%;
    position: absolute;
    left: 0px;
    pointer-events: none;
    transition-property: background, transform, color;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transform: translate(0px, 12px);
    color: rgba(16, 24, 40, 0.7);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 32px 0px 12px;
}

.select__caret {
    background-color: transparent;
    border: none;
    padding: 0px;
    outline: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: translate(-8px, 50%);
    z-index: 0;
}

.uiComponent--preview .select {
    position: static;
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    caret-color: rgb(16, 24, 40);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f3f3f4;
    padding: 13px 12px 11px;
    border-radius: 8px;
    color: rgb(16, 24, 40);
    display: flex;
    align-items: center;
}

.uiComponent--preview .select__field {
    display: none;
}

.uiComponent--preview .select__label {
    position: static;
    padding: 0;
    transform: none;
}

.uiComponent--preview .select__caret {
    position: static;
    transform: none;
}

.textarea {
    line-height: 0;
    position: relative;
    background-color: #f3f3f4;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px 8px 12px 0px;
}

.textarea__field {
    min-height: 76px;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: auto;
    resize: none;
    width: 100%;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    caret-color: rgb(16, 24, 40);
    color: rgb(16, 24, 40);
    padding: 0px 12px;
}

.textarea__label {
    width: 100%;
    position: absolute;
    left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    transition-property: background, font-size, top, color;
    transition-timing-function: ease-out;
    transition-duration: 0.15s;
    font-family: "Rostelecom Basis";
    font-style: normal;
    font-feature-settings: "tnum", "lnum";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    top: 12px;
    color: rgba(16, 24, 40, 0.7);
    padding: 0px 12px;
}

.uiComponent--preview .textarea {
    position: static;
    padding: 12px 8px 12px 0px;
    height: 121px;
}

.uiComponent--preview .textarea__field {
    display: none;
}

.uiComponent--preview .textarea__label {
    position: static;
}

.textarea--active .textarea__label {
    font-size: 12px;
    line-height: 16px;
    transform: translate(0px, -4px);
    color: rgba(119, 0, 255);
}