@font-face {
    font-family: "Rostelecom Basis";
    src: url(../fonts/RostelecomBasis-Regular.woff) format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rostelecom Basis";
    src: url(../fonts/RostelecomBasis-Medium.woff) format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Rostelecom Basis";
    src: url(../fonts/RostelecomBasis-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rostelecom Basis", sans-serif;
    font-weight: 500;
}

input,
button,
select,
textarea,
label {
    font: inherit;
}

.uiComponent--selected {
    outline: 2px solid #2F9AFF;
}