<template>
    <div class = "desktop">
        <div class = "desktopWorkSpace" :style = "offsets" :class = "{'desktopWorkSpace--moveAnim': animateMode}">
            <Screen v-for = "screen of screens" :screen = "screen" :key = "screen.node" @mousedown = "checkMove" @mousemove = "move" @mouseup = "endMove" />
        </div>
        <div class = "desktopActions">

        </div>
    </div>
</template>

<script>

import Screen from '@/components/Prototype/Screen/Screen';

export default {
    props: ['screens'],
    mounted() {
        this.emitter.on('moveToScreen', this.moveToScreen);
    },
    data: () => ({
        x: 0,
        y: 0,
        moving: false,
        positionStartMove: {
            x: 0,
            y: 0,
        },
        animateMode: false
    }),
    methods: {
        checkMove(event) {
            if (event.which == 2) {
                this.moving = true;
                this.positionStartMove = {
                    x: event.screenX,
                    y: event.screenY,
                    xState: this.x,
                    yState: this.y
                };
            }
        },
        move(event) {
            if (this.moving) {
                const offsetX = this.positionStartMove.xState + event.screenX - this.positionStartMove.x;
                const offsetY = this.positionStartMove.yState + event.screenY - this.positionStartMove.y;

                this.x = offsetX <= 100 ? offsetX : 100;
                this.y = offsetY <= 100 ? offsetY : 100;
            }
        },
        endMove() {
            this.moving = false;
        },

        moveToScreen(nodeid) {
            const screenElem = this.$el.querySelector(`.screen[nodeid='${nodeid}']`);
            if (!screenElem)
                return;
            
            const left = screenElem.offsetLeft;
            const top = screenElem.offsetTop;

            this.animateMode = true;
            this.x = -left + 50;
            this.y = -top + 50;

            setTimeout(() => {
                this.animateMode = false;
            }, 400);
        },
    },
    computed: {
        offsets() {
            return {
                'transform': `translate(${this.x}px, ${this.y}px)`,
                'cursor': this.moving ? 'all-scroll' : 'auto'
            };
        }
    },
    components: {
        Screen
    }
}
</script>

<style>
    .desktop {
        flex-grow: 1;
        background: #eee;
        overflow: hidden;
        padding: 20px 30px;
        position: relative;
    }

    .desktopWorkSpace {
        transform: scale(1);
        width: 10000000px;
        height: 1000000px;

        display: flex;
    }

    .desktopWorkSpace--moveAnim {
        transition: all .3s;
    }
</style>