<template>
    <Col :size = "component.size" :nodeid = "component.nodeid">
        <UIBaseComponent :cmp = "component" :noDrag = "true" :editable = "true" />
    </Col>
</template>

<script>

import Col from '@/components/Prototype/Screen/Col';
import UIBaseComponent from '@/components/UIComponents/UIBaseComponent';

export default {
    props: ['cmp'],
    created() {
        this.component = Object.assign(this.component, this.cmp);
    },
    data: () => ({
        component: {
            size: {
                desktop: 0,
                tablet: 0,
                mobile: 0,
            },
            color: 'primary',
        }
    }),
    components: {
        Col,
        UIBaseComponent
    }
}
</script>