<template>
    <div class = "uiComponent" :class = "Object.assign({'uiComponent--selected': cmp.selected}, classes)">
        <Drag v-if = "!noDrag" :data = "cmp" @dragEnd = "dropComponent">
            <component :is = "getComponent()" v-bind = "cmp" @click = "edit" />
        </Drag>
        <component v-else :is = "getComponent()" v-bind = "cmp" @click.prevent = "edit" />
    </div>
</template>

<script>

import { getComponentByName } from '@/constants/UIComponentMapping';
import Drag from '@/components/DragDrop/Drag';

export default {
    props: ['cmp', 'noDrag', 'editable', 'classes'],
    methods: {
        getComponent() {
            return getComponentByName(this.cmp.node);
        },
        dropComponent(dragData, dropElem) {
            this.emitter.emit('dropUIComponent', {dragData, dropElem});
        },
        edit() {
            if (this.editable) {
                this.emitter.emit('editComponent', this.cmp);
            }
        },
        closeEdit() {
            if (this.editable) {
                this.emitter.emit('closeEditComponent', this.cmp);
            }
        },
    },
    components: {
        Drag
    }
}
</script>