<template>
    <div class = "row drop" :nodeid = "node">
        <UIBaseColComponent v-for = "(component, index) of components" :key = "index" :cmp = "component"/>
    </div>
</template>

<script>

import UIBaseColComponent from '@/components/UIComponents/UIBaseColComponent';

export default {
    props: ['node', 'components'],
    components: {
        UIBaseColComponent
    }
}
</script>