<template>
    <div class = "screen" :nodeid = "screen.nodeid">
        <div v-show = "!editLabel" class = "screenLabel" @dblclick.prevent = "openEditLabel">{{this.label}}</div>
        <div v-show = "editLabel" class = "screenLabel--edit" v-click-outside = "closeEditLabel">
            <form @submit.prevent = "saveLabel">
                <input ref = "inputEditLabel" v-model = "label" />
            </form>
        </div>
        <div class = "screenContent">
            <div class = "screenGhostGrid">
                <div class = "screen__container">
                    <div class = "row">
                        <div class = "col-d-1" v-for = "i in 12" :key = "i">
                            <div class = "screenGhostGrid__column"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "screenBody drop">
                <div class = "screen__container">
                    <Row v-for = "(row, index) of screen.childs" :key = "index" :components = "row.childs" :node = "row.nodeid" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Row from '@/components/Prototype/Screen/Row';

export default {
    props: ['screen'],
    created() {
        this.type = this.screen.type || this.type;
        this.label = this.screen.label || this.label;

        this.emitter.on("closeScreenEditLabel", () => {
            this.editLabel = false;
        });
    },
    data: () => ({
        type: 'desktop',
        label: 'Desktop',
        editLabel: false,
    }),
    methods: {
        openEditLabel() {
            this.editLabel = true;
            this.$nextTick(() => this.$refs.inputEditLabel.focus());
        },
        saveLabel() {
            this.emitter.emit("editScreen", {
                screen: this.screen,
                newValues: {label: this.label}
            });
            this.editLabel = false;
        },
        closeEditLabel() {
            this.editLabel = false;
        }
    },
    components: {
        Row
    }
}
</script>

<style>

    .screen {
        margin-left: 20px;
        margin-top: 20px;
    }

    .screenLabel {
        margin-bottom: 10px;
        color: rgb(110, 110, 110);
    }

    .screenContent {
        width: 1440px;
        height: 810px;
        background: #fff;
        position: relative;
        box-shadow: 0 0 3px 2px rgba(0,0,0,.05);
    }

    .screenGhostGrid {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .screenGhostGrid .row {
        height: 100%;
    }

    .screenBody {
        height: 100%;
        position: relative;
    }

    .screen__container {
        width: 1224px;
        margin: 0 auto;
        height: 100%; 
    }

    .screenGhostGrid__column {
        background: rgba(255, 71, 71, 0.03);
        height: 100%;
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
        height: fit-content;
        margin-top: 16px;
    }

    .row:first-child {
        margin-top: 0;
    }

    [class^=col] > .drag {
        width: 100%;
    }

    [class^=col] .btn {
        width: 100%;
    }

    [class^=col] {
        padding: 0 8px;
        flex: 0 0 auto;
    }

    .col-d-1 {
        width: calc(100% / 12 * 1);
    }
    .col-d-2 {
        width: calc(100% / 12 * 2);
    }
    .col-d-3 {
        width: calc(100% / 12 * 3);
    }
    .col-d-4 {
        width: calc(100% / 12 * 4);
    }
    .col-d-5 {
        width: calc(100% / 12 * 5);
    }
    .col-d-6 {
        width: calc(100% / 12 * 6);
    }
    .col-d-7 {
        width: calc(100% / 12 * 7);
    }
    .col-d-8 {
        width: calc(100% / 12 * 8);
    }
    .col-d-9 {
        width: calc(100% / 12 * 9);
    }
    .col-d-10 {
        width: calc(100% / 12 * 10);
    }
    .col-d-11 {
        width: calc(100% / 12 * 11);
    }
    .col-d-12 {
        width: calc(100% / 12 * 12);
    }

    .screenLabel--edit input,
    .screenLabel--edit input:focus {
        padding-bottom: 10px;
        background: none;
        border: 0;
        outline: none;
    }

</style>