<template>
    <div class = "componentPropsBar">
        <div class = "componentPropsBar__title">Свойства компонента</div>
        <div v-if = "!component" style = "font-weight: 400;">Кликните по компоненту для редактирования</div>
        <div v-else class = "componentPropsBar__form">
            <component :is = "getComponentForm()" :component = "component" @update = "updateComponent" />
        </div>
    </div>
</template>

<script>
// import ComponentBar from './ComponentBar.vue'

import { getComponentPropsFormByName } from '@/constants/UIComponentMapping';

export default {
    props: ['component'],
    methods: {
        getComponentForm() {
            return getComponentPropsFormByName(this.component.node);
        },
        updateComponent(cmp) {
            this.$emit('update', cmp);
        }
    },
    data: () => ({
        editComponent: null
    }),
    // watch: {
    //     component(val) {
    //         this.editComponent = val;
    //     }
    // },
    components: {
        // ComponentBar 
    }
}
</script>

<style>
    .componentPropsBar {
        width: 20%;
        min-width: 250px;
        max-width: 400px;
        background: #fff;
        padding: 20px;
        flex-shrink: 0;
    }

    .componentPropsBar__title {
        font-size: 1.25em;
        margin-bottom: 1em;
    }
</style>