<template>
    <div class = "prototype">
        <div class = "prototypeHeader">
            <div class = "prototypeHeader__more">
                <img src = "@/assets/icons/bars.svg"/>
            </div>
            <div class = "prototypeHeader__user">
                <img src = "@/assets/icons/rtk.svg"/>
                <div class = "prototypeHeader__userInfo">
                    <div class = "prototypeHeader__userName">Калинушкин Максим</div>
                    <div class = "prototypeHeader__userEmail">MKalinushkin@rt.ru</div>
                </div>
            </div>
            <div class = "prototypeHeader__addScreen prototypeHeader__action" @click.prevent = "addScreen">
                <img src = "@/assets/icons/plus-rectangle.svg"/>
            </div>
            <div class = "prototypeHeader__actions">
                <div class = "prototypeHeader__action">
                    <img src = "@/assets/icons/play.svg"/>
                </div>
                <div class = "prototypeHeader__action">
                    <img src = "@/assets/icons/share.svg"/>
                </div>
                <div class = "prototypeHeader__action">
                    <img src = "@/assets/icons/export.svg"/>
                </div>
            </div>
        </div>
        <div class = "prototypeDesktop">
            <ComponentBar />
            <Desktop :screens = "prototype.childs" @click = "checkClick"/>
            <ComponentPropsBar :component = "currentComponent" @update = "updateCurrentComponent" />
        </div>
    </div>
</template>

<script>

import Desktop from '@/components/Prototype/Desktop/Desktop';
import ComponentBar from '@/components/Prototype/ComponentBar/ComponentBar';
import ComponentPropsBar from '@/components/Prototype/ComponentPropsBar';

import { makeid } from '@/helpers/str';

export default {
    created() {
        this.emitter.on("dropUIComponent", this.dropUIComponent);
        this.emitter.on("editComponent", (component) => {
            if (this.currentComponent && this.currentComponent.selected) {
                this.currentComponent.selected = false;
            }

            this.currentComponent = component;
            component.selected = true;
        });

        this.emitter.on("closeEditComponent", (component) => {
            if (this.currentComponent == component) {
                this.currentComponent = null;
            }
            component.selected = false;
        });

        this.emitter.on("editScreen", (screen, newValues) => {
            screen = Object.assign(screen, newValues);
        });
    },
    mounted() {
        document.onkeydown = (event) => {
            if (event.code == 'Delete' && this.currentComponent && this.currentComponent.selected) {
                const nodeid = this.currentComponent.nodeid;
                this.deleteNode(nodeid);
                this.currentComponent = null;
            }
        };
    },
    unmounted() {
        document.onkeydown = null;
    },
    data: () => ({
        prototype: {
            node: "prototype",
            childs: [
                {
                    nodeid: makeid(10), 
                    node: 'screen',   
                    label: 'Экран 1',
                    childs: [
                    ],
                },
            ]
        },
        currentComponent: null
    }),
    methods: {
        dropUIComponent({dragData, dropElem}) {
            const parentNodeElem = dropElem.closest('[nodeid]');
            if (!parentNodeElem) 
                return;

            const parentNodeId = parentNodeElem.getAttribute("nodeid");
            const parentNode = this.getNodeById(parentNodeId);

            if (!parentNode) 
                return;

            this.appendNode(parentNode, Object.assign({}, dragData));
        },
        getNodeById(nodeid) {
            const ids = nodeid.split('-');
            let searchIds = [];
            let elem = this.prototype;
            for (let id of ids) {
                searchIds.push(id);
                const searchId = searchIds.join('-');
                elem = elem.childs.find(el => el.nodeid == searchId);

                if (!elem) 
                    return null;
            }

            return elem;
        },
        appendNode(parentNode, node) {
            let parent = parentNode;
            if (parent.node == 'screen') {
                let newNode = {
                    node: 'row',
                    nodeid: `${parent.nodeid}-${makeid(10)}`,
                    childs: [],
                };
                parent.childs.push(newNode);
                parent = newNode;
            }

            let newNode = Object.assign(node, {
                nodeid: `${parent.nodeid}-${makeid(10)}`,
                selected: false,
                childs: [],
            });
            parent.childs.push(newNode);

            // return newNode;
        },
        deleteNode(nodeid) {
            const parentNodeId = nodeid.split('-').reverse().slice(1).reverse().join('-');
            let parentNode = this.getNodeById(parentNodeId);
            parentNode.childs = parentNode.childs.filter(el => el.nodeid != nodeid);

            if (parentNode.node == 'row' && parentNode.childs.length == 0) {
                this.deleteNode(parentNode.nodeid);
            }
        },
        updateCurrentComponent(newValues) {
            this.currentComponent = Object.assign(this.currentComponent, newValues);
        },
        checkClick(event) {
            if (!event.target.closest(".uiComponent") && event.target.closest(".desktopWorkSpace") && this.currentComponent && this.currentComponent.selected) {
                this.currentComponent.selected = false;
                this.currentComponent = null;
            }
            // if (!event.target.closest(".screenLabel--edit")) {
            //     this.emitter.emit("closeScreenEditLabel");
            // }
        },
        addScreen() {
            const countScreens = this.prototype.childs.length;
            let newNode = {
                nodeid: makeid(10), 
                node: 'screen',   
                label: 'Экран ' + (countScreens + 1),
                childs: [],
            };
            this.prototype.childs.push(newNode);
            this.$nextTick(() => this.emitter.emit('moveToScreen', newNode.nodeid));
            
        }
    },
    components: {
        Desktop,
        ComponentBar,
        ComponentPropsBar
    }
}
</script>

<style>

.prototype {
    height: calc(100vh - 48px);
}

.prototypeDesktop {
    height: calc(100vh - 48px - 64px);
    display: flex;
}

.prototypeHeader {
    background: #101828;
    color: #000;
    height: 64px;
    display: flex;
    align-items: center;
    color: #fff;
}

.prototypeHeader__more {
    padding: 0 18px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.prototypeHeader__user {
    display: flex;
    padding-left: 5px;
}

.prototypeHeader__userInfo {
    margin-left: 12px;
}

.prototypeHeader__userName {
    font-size: 18px;
    line-height: 23px;
}

.prototypeHeader__userEmail {
    font-size: 14px;
    line-height: 18px;
    color: #B5B7C0;
}

.prototypeHeader__addScreen {
    margin-left: auto;
    margin-right: auto;
}

.prototypeHeader__actions {
    display: flex;
    height: 100%;
}

.prototypeHeader__action {
    padding: 0 27px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .2s;
}

.prototypeHeader__action:hover {
    background: #272F3D;
}

</style>