<template>
    <div class="select">
        <input class = "select__field">
        <label class="select__label">{{label}}</label>
        <span class = "select__caret">
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="sc-bdnxRM AaSrU"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4692 15.5339L5.99718 10.0609L7.05794 9.00031L11.9996 13.9429L16.9412 9.00031L18.0019 10.0609L12.5299 15.5339C12.3893 15.6746 12.1985 15.7537 11.9996 15.7537C11.8006 15.7537 11.6098 15.6746 11.4692 15.5339Z"></path></svg>
            </div>
        </span>
    </div>
</template>

<script>
export default {
    props: ['label']
}
</script>