<template>
    <div class = "drag">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: ['data', 'dropElem'],
    mounted() {
        this.register();
    },
    data: () => ({
        elem: null,
        downX: null,
        downY: null,
        shiftX: null,
        shiftY: null,
        avatar: null,
        draggable: false,
    }),
    methods: {
        register() {
            const elem = this.$el;
            
            elem.onmousedown = (event) => {
                
                if (event.which != 1) {
                    return;
                }

                this.downX = event.pageX - event.target.offsetLeft;
                this.downY = event.pageY - event.target.offsetTop;
                this.elem = elem.cloneNode(true);

                document.onmousemove = this.mouseMove;
                document.onmouseup = this.mouseUp;
            }

            elem.ondragstart = () => {
                return false;
            };

        },
        mouseMove(event) {
            if (!this.elem) return;

            if (!this.avatar) {
                let moveX = event.pageX - this.downX;
                let moveY = event.pageY - this.downY;

                // если мышь передвинулась в нажатом состоянии недостаточно далеко
                if (Math.abs(moveX) < 10 && Math.abs(moveY) < 10) {
                    return;
                }

                // начинаем перенос
                this.avatar = this.createAvatar(event); // создать аватар
                if (!this.avatar) { // отмена переноса, нельзя "захватить" за эту часть элемента
                    this.clearDragData();
                    return;
                }

                // аватар создан успешно
                // создать вспомогательные свойства shiftX/shiftY
                var coords = this.getCoords(this.avatar);
                this.shiftX = this.downX - coords.left;
                this.shiftY = this.downY - coords.top;

                this.startDrag(); // отобразить начало переноса
            }

            // отобразить перенос объекта при каждом движении мыши
                // console.log(event.pageX, this.shiftX);
            this.avatar.style.left = event.pageX - this.shiftX + 'px';
            this.avatar.style.top = event.pageY - this.shiftY + 'px';

            return false;
        },
        mouseUp(event) {
            if (this.draggable) {
                this.finishDrag(event);
            }

            this.clearDragData();

            document.onmousemove = null;
            document.onmouseup = null;
        },
        createAvatar() {
            // запомнить старые свойства, чтобы вернуться к ним при отмене переноса
            let avatar = this.elem;
            let old = {
                parent: avatar.parentNode,
                nextSibling: avatar.nextSibling,
                position: avatar.position || '',
                left: avatar.left || '',
                top: avatar.top || '',
                zIndex: avatar.zIndex || ''
            };

            // функция для отмены переноса
            avatar.rollback = () => {
                old.parent.insertBefore(avatar, old.nextSibling);
                avatar.style.position = old.position;
                avatar.style.left = old.left;
                avatar.style.top = old.top;
                avatar.style.zIndex = old.zIndex
            };

            return avatar;
        },
        startDrag() {
            this.draggable = true;
            document.body.appendChild(this.avatar);
            this.avatar.style.zIndex = 9999;
            this.avatar.style.position = 'absolute';
            this.avatar.classList.add("draggable");
        },
        finishDrag(event) {
            var dropElem = this.findDroppable(event);

            if (!dropElem) {
                this.onDragCancel();
            } else {
                this.onDragEnd(this.data, dropElem);
            }
        },
        findDroppable(event) {
            // спрячем переносимый элемент
            this.avatar.hidden = true;

            // получить самый вложенный элемент под курсором мыши
            var elem = document.elementFromPoint(event.clientX, event.clientY);

            // показать переносимый элемент обратно
            this.avatar.hidden = false;

            if (elem == null) {
                // такое возможно, если курсор мыши "вылетел" за границу окна
                return null;
            }

            return elem.closest('.drop');
        },
        clearDragData() {
            this.elem.remove();

            this.elem = null;
            this.downX = null;
            this.downY = null;
            this.shiftX = null;
            this.shiftY = null;
            this.avatar = null;
            this.draggable = false;
        },
        getCoords(elem) {
            let box = elem.getBoundingClientRect();

            return {
                top: box.top + pageYOffset,
                left: box.left + pageXOffset
            };
        },
        onDragCancel() {
            console.log('cancel');
        },
        onDragEnd(dragData, dropElem) {
            this.$emit('dragEnd', dragData, dropElem);
        }
    }
}
</script>

<style>
    .drag {
        user-select: none;
    }

    .drag * {
        cursor: grab !important;
    }

    .draggable * {
        cursor: grabbing !important;
    }
</style>