<template>
    <Header/>
    <Prototype/>
</template>

<script>

import '@/assets/css/components.css';
import '@/assets/css/style.css';

import Header from '@/components/Core/Header';
import Prototype from '@/components/Prototype/Prototype';

export default {
    name: 'App',
    components: {
        Header,
        Prototype
    }
}
</script>
